
body {
    font-family: 'Space Mono', monospace;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.1s;
}

a:hover {
    color: rgb(255, 166, 77);
    text-decoration: none;
}


hr {
    width: 30%;
    display: inline-block;
    margin-right: 10px;
    color: lightblue;
    height: 5px;
    background-color: lightblue;
    border: none;
}

.logo-container {
    text-align: center;
    left: 3%;
    top: 5%;
    position: absolute;
    width: 150px;
    height: 150px;
}

.main-logo {
    display: inline-block;
    margin: auto;
    width: 90px;
    transition: 0.2s;
}

.main-logo:hover {
    width: 92px;
}

.main-background {
    width: 100%;
    height: 100vh;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    z-index: 0;
}

.main-description {
    opacity: 0;
    position: absolute;
    padding-left: 10px;
    left: -350px;
    top: 25%;
    width: 500px;
    height: auto;
    color: white;
    border-left: rgb(255, 51, 51) 10px solid;
    transition-delay: 2s;
    transition: left 1.5s, opacity 2s;
}

.main-description p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#greetings {
    font-size: 30px;
}

.nav-bar {
    position: absolute;
    top:5%;
    right: 5%;
    font-weight: 600;
}

#nav-bar-options li {
    display: inline-block;
    margin-right: 20px;
}

#nav-bar-options a {
    font-size: 14px;
    opacity: 0.8;
    transition: 0.25s;
}

#nav-bar-options a:hover {
    color: rgb(255, 166, 77);
    opacity: 0.9;
}

#nav-bar-options li:hover {
    transform: translateY(-1px);
}

#nav-bar-options li:active {
    transform: translateY(0px);
}

.main-container {
    text-align: center;
    float: left;
    width: 100%;
}

.section {
    margin-top: 0;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.sub-section {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.about-me {
    display: inline-block;
    width: 80%;
    text-align: left;
    margin-bottom: 30px;
}

.about-me li {
    margin-bottom: 10px;
}

.about-me a {
    color: orangered;
}

.about-me a:hover {
    text-decoration: underline;
}

#about-me-section hr {
    width: 29%;
}

.section-title {
    margin-bottom: 50px;
}

.section-description {
    margin-bottom: 50px;
}

.overlay {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay p {
    display: block;
}

.overlay:hover {
    opacity: 0.69;
}

.overlay:hover .block-picture-container {
    width: 500px;
}

.project-element-title {

}

.skill-line {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.skill-element {
    margin-top: 20px;
    display: none;
    width: 350px;
    height: auto;
    text-align: left;
    margin-right: 0;
}

.testing {
    display: none;
}

.skill-description {
    float: right;
    width: 190px;
    display: none;
    font-size: 15px;
}

.skill-image-container {
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 100px;
    transition: all 0.3s;
}

#skill-left-top .skill-image-container, #skill-right-top .skill-image-container, #skill-cen-bot .skill-image-container {
}

.skill-image {
    width: 100%;
}

.skill-name {
    position: absolute;
    font-size: 30px;
    margin: auto;
    color: rgb(230, 255, 250);
}

.project-section {
    background-color: rgb(245, 245, 240);
}

.projects {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom:  50px;
}

.project-title {
    margin-bottom: 50px;
}

.project-line .project-element {
    display: none;
}

.project-element {
    position: relative;
    width: 550px;
    height: 300px;
    background-image: url("../images/background.JPG");
    background-position: center;
    background-size: cover;
    margin-bottom: 3px;
}

.project-element h3 {
    text-decoration: underline;
}

.project-element-description {
    text-align: left;
    padding: 10px;
}

.experience-section {
    width: 100%;
    background-color: white;
    margin-top: 0;

}

.experience {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}

.block {
    display: inline-block;
    margin: 0 0 20px 0;
    width: 80%;
    background-color: rgb(234, 234, 225);
    border-radius: 10px;
    text-align: left;
}

.block div {
    display: inline-block;
}

.job-title {
    font-weight: bolder;
    margin: 5px 0 0 10px;
}

.job-time {
    margin: 0 0 0 10px;
}

.experience-element-picture {
    width: 350px;
    height: 250px;
    float: left;
    margin: 10px 10px;
    border-radius: 10px;
}

.block-description {
    text-align: left;
    float: left;
    margin-left: 10px;
    width: 60%;
}

.block-description ul li {
    margin-bottom: 5px;
}

.ending {
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 1px solid rgb(51, 51, 51);
}

.contact {
    opacity: 0.8;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact-title {
    margin-top: 50px;
    color: white;
}

.contact-line {
    margin-bottom: 0;
}

.contact-form {
    margin: 20px auto 30px auto;
    display: inline-block;
    width: 50%;
}

.contact-button {
    width: 150px;
    height: 50px;
    color: rgb(255, 166, 77);
    margin-top: 100px;
    background-color: rgb(51, 51, 51);
    border: 2px solid white;
    transition: 0.5s;
    margin-bottom: 10px;
}

.contact-button:hover {
    background-color: rgb(0, 153, 51);
    color: white;
}

.contact-form .form-group > input, textarea {
    margin-top: 5px;
}


html, body   {
    margin: 0;
}

body i, span {
    font-family: 'FontAwesome' !important;
    text-decoration: none;
}

.medias {
    margin: 0;
}

.medias a {
    font-size: 25px;
    transition: 0.1s;
    margin-right: 5px;
}

.medias a:hover {
    color: rgb(255, 166, 77);
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

.mobile-nav {
    width: 100%;
    height: 50px;
    display: none;
    color: black;
    text-align: center;
    z-index: 1;
    background-color: #c4d8ed;
    top: 0;
    transition: margin 0.5s;
    opacity: 0.98;
    position: fixed;
}

.mobile-nav a {
    color: black;
}

.mobile-logo {
    width: 48px;
    display: none;
    margin: auto;
}

#mobile-toggle {
    display: none;
    font-size: 20px;
    width: 50px;
    height: auto;
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
}

@media(max-width: 768px) {

    .project-element {
        width: 350px;
        height: 200px;
    }

    .section-title {
        font-size: 30px;
    }

    .section-title-hr {
        width: 10%;
    }

    .mobile-nav  {

        display: block;

    }

    .mobile-nav .mobile-logo {
        display: inline-block;
    }

    .logo-container, .nav-bar {
        display: none;
    }

    #mobile-toggle {
        display: inline-block;
    }

    .block-description, .projects {
        width: 98%;
    }

    .contact-form, .sub-section {
        width: 95%;
    }


    hr, #about-me-section hr {
        width: 20%;
    }

    .sub-section hr {
        width: 25%;
    }

    #experience-section hr {
        width: 15%;
    }

    .project-element {
        width: 550px;
        height: 300px;
    }

    .about-me {
        width: 95%;
    }

}

html {
    scroll-behavior: smooth;
}

@media(max-width: 600px) {

    .experience-element-picture {
        width: 95%;
    }

    .projects, .sub-section, .block {
        width: 95%;
    }

    .contact-form {
        width: 100%;
    }

    .project-element {
        width: 550px;
        height: 200px;
    }

}

@media(max-width: 415px) {

    .project-element {
        width: 350px;
        height: 220px;
    }
}

