<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147333030-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147333030-1');
    </script>


    <title> Hoang Ha </title>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <link rel="icon" href="../static/images/main-logo.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sidebarStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css?v=1.1">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <base target="_blank">
</head>

<body>

        <div class="mobile-nav">
                    <a href="{{ url_for("index", _scheme="https", _external=True) }}" class="mobile-logo"><img src="../static/images/main-logo.png" class="mobile-logo"></a>
                    <span id="mobile-toggle"><span class="fas fa-bars"></span></span>

            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Hoang Ha</h3>
                </div>

                <ul class="list-unstyled components" id="mobile-nav-bar">

                    <li> <a class="anchor-link about-me-section-anchor"> About me </a> </li>
                    <li> <a class="anchor-link skills-anchor"> Skills </a> </li>
                    <li> <a class="anchor-link projects-anchor"> Projects </a> </li>
                    <li> <a class="anchor-link experience-section-anchor"> Experience </a> </li>
                    <li> <a href={{ resume_link }} target="_blank"> Resume </a> </li>
                    <li> <a class="anchor-link contact-anchor-anchor"> Contact </a> </li>

                </ul>
            </nav>

        </div>

        <div id="page-content">
            <div class="main-background">
                <div class="logo-container">
                    <a href="{{ url_for("index") }}"><img src="../static/images/main-logo.png" class="main-logo"></a>
                </div>

                <div class="linkedin-container" target="_blank">
                    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US"
                               data-type="horizontal" data-theme="dark" data-vanity="hoangha98">
                        <a class="LI-simple-link" target="_blank" href='https://www.linkedin.com/in/hoangha98?trk=profile-badge'>Hoang Ha</a>
                    </div>
                </div>

                <div class="nav-bar" id="window-nav-bar">
                    <ul id="nav-bar-options">
                        <li class="anchor-link skills-anchor"> <a> skills </a> </li>
                        <li class="anchor-link projects-anchor"> <a> projects </a> </li>
                        <li class="anchor-link experience-section-anchor"> <a> experience </a> </li>
                        <li> <a href={{ resume_link }} target="_blank"> resume </a> </li>
                        <li class="anchor-link contact-anchor-anchor"> <a> contact </a> </li>
                    </ul>
                </div>

                    <div class="main-description">
                        {% if submitted %}
                            <p id="greetings">Thank you for reaching out!</p>
                        <p>
                            I will reply to you within a couple of days
                        </p>
                        {% endif %}

                        {% if not submitted %}
                        <p id="greetings">Hi, I'm Hoang.</p>
                        <p>
                            Let's build something cool together.
                        </p>
                        {% endif %}
                    </div>

            </div>

            <div class="section" style="background-color: rgb(245, 245, 240); border: 1px solid rgb(245, 245, 240)">
                <div class="sub-section" id="about-me-section">
                    <h1 class="section-title"> <hr> About me <hr> </h1>
                        <div class="about-me">
                            <ul>
                                <li> I just finished my B.S in Engineering Physics (Juniata College) May 2020. </li>
                                <li> I am pursuing a B.S in Computer Science and a M.S in Machine Learning at Wash U where I'm considered a graduate student. (Expected Graduation May 2023) </li>
                                <li> My current goal is to become a Robotics Engineer or a Machine Learning engineer. </li>
                                <li> I'm looking for an internship relating to Data Science/ Machine Learning next summer 2021.</li>
                                <li> Click <a href={{ resume_link }} target="_blank">here</a> to see my resume. </li>
                                <li> Click <a href="https://drive.google.com/file/d/1DRUVj3DlZgvduIVDuz4DOQA5AVhVaTQ5/view?usp=sharing" target="_blank">here</a> to see my transcript. </li>
                            </ul>
                        </div>
                </div>
            </div>

            <!---------Skills section--------->
            <div class="section">
                <div class="sub-section" id="skills">
                    <h1 class="section-title"> <hr> Skills <hr> </h1>
                    <p> Hover on each skill for details. </p>
                    <div class="skill-line">
                        <div class="skill-element" id="skill-left-top">
                            <div class="skill-image-container"> <img src="../static/images/skill-background.jpg" class="skill-image">
                                <div class="skill-name">Python</div>
                            </div>
                            <div class="skill-description"> Best and favorite language. Solid understanding of both fundamental and advanced concepts. </div>
                        </div>

                        <div class="skill-element" id="skill-cen-top">
                            <div class="skill-image-container"> <img src="../static/images/skill-background.jpg" class="skill-image">
                                <div class="skill-name">C++</div>
                            </div>
                            <div class="skill-description"> 2 years experience with C++. Very familiar with syntax, uses of pointer, etc. </div>
                        </div>

                        <div class="skill-element" id="skill-right-top">
                            <div class="skill-image-container"> <img src="../static/images/skill-background.jpg" class="skill-image">
                                <div class="skill-name">ML</div>
                            </div>
                            <div class="skill-description"> Hands-on experience with Scikit-learn, Numpy, Pandas, and TensorFlow through personal projects and competitons on Kaggle. </div>
                        </div>

                        <div class="skill-element" id="skill-left-bot">
                            <div class="skill-image-container"> <img src="../static/images/skill-background.jpg" class="skill-image">
                                <div class="skill-name">Java</div>
                            </div>
                            <div class="skill-description"> 2+ years experience with Java. Deep understanding about Java OOP and special features such as the garbage collector. </div>
                        </div>

                        <div class="skill-element" id="skill-cen-bot">
                            <div class="skill-image-container"> <img src="../static/images/skill-background.jpg" class="skill-image">
                                <div class="skill-name">Dev</div>
                            </div>
                            <div class="skill-description"> Fluent in HTML, CSS, Javascript (and a little of Jquery). Very familiar with Flask. </div>
                        </div>

                        <div class="skill-element" id="skill-right-bot">
                            <div class="skill-image-container"> <img src="../static/images/skill-background.jpg" class="skill-image">
                                <div class="skill-name">Boards</div>
                            </div>
                            <div class="skill-description"> Numerous hands-on experience, personal projects with Arduino and RaspberryPi. </div>
                        </div>

                    </div>

                </div>
            </div>


            <!---------Projects section--------->
            <div class="project-section section">
                <div class="projects" id="projects">
                    <h1 class="section-title"> <hr> Projects <hr> </h1>

                    <p style="margin-bottom: 50px; width: 80%; display: inline-block">
                        These are some of my personal projects. I have done a lot of projects, but most are small and only serve for the purpose of experimenting.
                    </p>

                        <div class="project-line">
                            <div class="project-element" style="background-image: url('../static/images/resume-project.PNG')">
                                    <div class="overlay">
                                        <h3 class="project-element-title"> This website </h3>
                                        <p class="project-element-description"> &nbsp;
                                            I designed and created this website from scratch using HTML, CSS, basic JS , JQuery, and Flask.
                                            The code of this website can be found via the link to GitHub at the end of the page.
                                        </p>
                                    </div>
                                </div>

                                <div class="project-element" style="background-image: url('../static/images/hexapod.jpg');">
                                    <div class="overlay">
                                        <h3 class="project-element-title"> Hexapod Spidy </h3>
                                        <p class="project-element-description">
                                            &nbsp; A 18DOF, 3D printed hexapod whose controller
                                            unit is RaspberryPi 3. It is controlled via bluetooth by an Android app
                                            created using MIT Appinventor 2.
                                        </p>
                                    </div>
                                </div>
                        </div>

                        <div class="project-line" id="project-anchor">
                                <div class="project-element" style="background-image: url('../static/images/nobugplease1.PNG')">
                                    <div class="overlay">
                                        <h3 class="project-element-title"> Forum Nobugplease </h3>
                                        <p class="project-element-description">
                                             &nbsp; A simple forum with all the necessary functionalities such as users monitor,
                                            csrf token, forgot-password, etc. It was created from scratch using Flask,
                                            PostgreSQL and some frontend languages.
                                        </p>
                                    </div>
                                </div>

                                <div class="project-element" style="background-image: url('../static/images/ledfan.jpg')">
                                    <div class="overlay">
                                        <h3 class="project-element-title"> LED fan </h3>
                                        <p class="project-element-description">
                                             &nbsp; A LED fan that creates interesting patterns when rotating by toggling an
                                            array of LEDs on and off extremely fast in a precise manner. Its controller
                                            unit is an Arduino Micro.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>



            <!---------Experience section--------->
            <div class="experience-section" id="experience-section">
                <div class="experience">
                    <h1 class="section-title"> <hr> Experience <hr> </h1>
                    <p class="section-description"> </p>

                            <div style="width: 80%; display: inline-block">
                                <p style="float: left; margin-bottom: 0;"> <b>Juniata College,</b> Huntingdon, Pennsylvania </p>
                            </div>

                            <div class="block">
                                <p class="job-title"> Intro Physics lab Teaching assistant </p>
                                <p class="job-time"> (August 2018 - April 2021) </p>
                                <img src="../static/images/physics-lab.jpg" class="experience-element-picture">
                                <div class="block-description">
                                    <p style="margin-top: 20px">Job responsibilities:</p>
                                    <ul>
                                        <li>Assist and supervise students with their lab work using well developed technical and communication skills. </li>
                                        <li>Carefully manage the equipment before and after every lab session. </li>
                                        <li>Grade lab reports and quizzes with high responsibility and integrity.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="block">
                                <p class="job-title"> Computer Science, Calculus, Physics tutor </p>
                                <p class="job-time"> (Feb 2018 - April 2021) </p>
                                <img src="../static/images/tutor.jpg" class="experience-element-picture">
                                <div class="block-description">
                                    <p> I group these jobs into one because they are very similar.</p>
                                    <p style="margin-top: 20px">Job responsibilities:</p>
                                    <ul>
                                        <li> Give group tutoring sessions every week to enhance students’ academic performance.  </li>
                                        <li> Provide one on one help for students with special needs. </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                </div>

            <div class="ending">
                <div class="contact">
                    <h1 class="contact-title" id="contact-anchor"> Contact Me </h1>
                    <p class="contact-line"> For any further inquiry, please leave me a message :) </p>

                    <!---
                    <form class="contact-form" method="post">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name..." name="name">
                            <input type="email" class="form-control" placeholder="Email..." name="email">
                            <textarea name="message" id="" cols="30" rows="10" class="form-control" placeholder="Message..."></textarea>
                            <button type="submit" class="btn contact-button"> Send Inquiry </button>
                        </div>

                        <p> ...Or you can send me a direct email to <a href="mailto:hoanghm4@gmail.com">hoanghm4@gmail.com</a></p>

                    </form>
                    --->

                    <form class="contact-form" method="POST">

                        <div class="form-group">
                            {{ form.name(class="form-control", placeholder="Name...") }}
                            {{ form.email(class="form-control", placeholder="Email...") }}
                            {{ form.message(class="form-control", cols="30", rows="10", placeholder="Message...") }}
                            <div style="width: 100%; height: 20px;"></div>
                            {{ form.submit(class="form-control btn contact-button") }}
                        </div>

                        <p> ...Or you can send me a direct email to <a href="mailto:hoanghm4@gmail.com">hoanghm4@gmail.com</a></p>

                    </form>

                </div>
            </div>
        </div>



</body>

<footer>
    <p class="medias">
        <a href="https://www.facebook.com/minh.hoang.7505" target="_blank"><span class="fab fa-facebook-square"></span></a>
        <a href="https://github.com/hoanghm" target="_blank"><span class="fab fa-github-square"></span></a>
        <a href="https://www.linkedin.com/in/hoangha98/" target="_blank"><span class="fab fa-linkedin"></span></a>
    </p>
    <span class="far fa-copyright"></span> Hoang Ha 2019.
    <script type="text/javascript" src="../static/js/script.js"></script>
</footer>

</html>